body {
  background:#efefef;
  color:#888;
}

.container {
  padding-left:15px;
  padding-right:15px;
  margin:0 auto;
  height:100%;
}

ul {
  list-style:none;
  padding:0;
}

a {
  color:inherit;
  text-decoration: none;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

header {
  height:100px;
  background:white;

  h1 {
    display:inline-block;
    margin:0;
  }

  nav {
    display:inline-flex;
    height:100%;
    flex-direction:column;
    justify-content:center;
    position:relative;
    margin-left:20px;

    li {
      display:inline;
      padding:0 10px;
      cursor:pointer;
    }
  }

  img {
    vertical-align:top;
  }
}

.dropdown {
  display:none;
  position:absolute;
  top:100%;
  background:white;
  width:150px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

  li {
    display:block;
    padding:10px 15px;

    &:nth-child(odd) {
      background:#ededed;
    }
  }
}

.open {
  display:block;
}

@media screen and (min-width: 1200px) {
  .container {
    width:1170px;
  }
}
