body {
  background:#efefef;
  color:#7C7C7C;
  user-select:text;
}

.container {
  padding-left:15px;
  padding-right:15px;
  margin:0 auto;
  height:100%;
}

ul {
  list-style:none;
  padding:0;
}

a {
  color:inherit;
  text-decoration: none;

  &:hover {
    color:inherit;
  }

  &:visited {
    color:inherit;
  }
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.center-container {
  display:inline-flex;
  align-items:center;
  height:100%;
}

.float-right {
  float:right;
}

.float-left {
  float:left;
}

$header-height:88px;

header {
  height:$header-height;
  background:white;

  .contact-number {
    color:#333;
    font-weight:bold;
    margin-right:24px;
  }

  nav {
    display:inline-flex;
    height:100%;
    flex-direction:column;
    justify-content:center;
    margin-left:20px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    ul {
      position:relative;
      top:4px;
    }

    li {
      display:inline;
      padding:0 10px;
      position:relative;
      /* nested kind of deep here */
    }

    .dropdown-toggle {
      cursor:pointer;
    }
  }



  $img-height: 75px;
  img {
    height:$img-height;
    margin-top:($header-height - $img-height) / 2;
  }
}

.dropdown {
  display:none;
  position:absolute;
  font-size:0.9em;
  top:40px;
  left:10px;
  background:white;
  width:150px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index:2; //overlay on banner will cover up otherwise

  li {
    display:block;
    padding:0; // overwrite
  }

  ul {
    position:static; //overwrite
  }

  a {
    padding:10px 15px;
    display:block;

    &:hover {
      background:#eee;
    }
  }
}

.open {
  display:block;
}

h1 {
  font-size:3.5em;
  margin:0;
}

/* maybe someday
@keyframes background {
  from {
    background:rgba(0,0,0,1);
  } 50% {
    background:rgba(0,0,0,1);
  }  to {
    background:rgba(0,0,0,0.5);
  }
}
*/

.banner {
  height:500px;
  background:url('../assets/banner-background.jpg');
  background-size:cover;
  background-position:center;
  background-attachment:fixed; //temp?
  color:white;
  text-align:center;
  position:relative;

  .overlay {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    // animation:background 4s ease; maybe someday
    background:rgba(0,0,0,0.4);
    z-index:1;
  }

  h1 {
    padding-top: 60px;
    margin-bottom:14px;
  }

  p {
    font-size:1.5em;
  }

  .btn {
    margin-top: 50px;
    padding:15px 30px; //temp
    font-size:1.5em; //temp
  }
}

.information {
  border-bottom: 1px solid #ddd;
  padding: 40px 0;

  i {
    font-size:3em;
  }
}

.info-container {
  display:flex;
}

.info {
  padding:24px;
  height:100%;
  text-align:center;
  line-height:1.8em;

  h4 {
    margin:12px 0;
    color:#333;
  }
}

footer {
  background:#222;
  color:#7C7C7C;
  font-weight:bold;
  padding: 1em 0;
}


@media screen and (min-width: 1200px) {
  .container {
    width:1170px;
  }
}
